html {
	
}

body {
	color: #222;
	font-family: Roboto,arial,sans-serif;
	font-size: 13px;
	margin: 0;
}

header {	
	margin-top: 18px;
}

footer {
	background-color: rgb(242, 242, 242);
	color: #5f6368;
	font-size: 14px;
	line-height: 40px;
	bottom: 0;
	width: 100%;
	padding-left: 180px;
}

footer div,
header div {
	display: inline-block;
}

/* =======================TO BE SORTED (LEGACY======================= */

button {
	background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 29px 4px 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
}

#grid {
	background-image: url("img/img_sheet.png");
	background-position: -125px -38px;
	width: 30px;
	height: 30px;
}

.left {
	float: left;
}

.right {
	float: right;
	padding: 0 21px;
	display: flex;
	align-items: center;
}

#bottom-left {
	padding: 0 21px;
}

.top div {
	padding: 0 6px;
}

.bottom div {
	padding: 0 11px;
}

/* =======================TOP SECTIONS======================= */

#top-left {
    height: 52px;
    display: flex;
    align-items: center;
    padding: 0 21px;
    opacity: 0.75;
}

#top-center {
	padding-left: 26px;
	padding-top: 2px;
}

#top-right {
	padding-right: 12px;
}

/* ------------SEARCH BAR------------ */

#search-bar {
	display: flex;
    align-items: center;
    justify-content: left;
	border: 1px solid #dfe1e5;
	border-radius: 24px;
	height: 44px;
	width: 690px;
}

#search-bar input {
	border: 0;
	color: rgb(34, 34, 34);
	font-size: 16px;
	width: 533px;
	height: 39px;
	margin-left: 18px;
}

#search-bar img {
	padding: 0px 7px;
}

#search-pipe {
	height: 27px;
	width: 1px;
	background-color: #dfe1e5;
	margin-left: 6px;
}

/* ------------NAVIGATION TABS------------ */

#nav-shell {
	width: 100%;
	border-bottom: 1px solid rgb(235, 235, 235);
}

#nav-tabs {
	display: flex;
    align-items: flex-end;
    justify-content: space-between;
	height: 52px;
	width: 652px;
	padding-left: 169px;
}

.nav-tab {
	background-repeat: no-repeat;
	color: rgb(102, 102, 102);
	font-size: 13px;
	padding: 12px 12px 12px 32px;
	height: 16px;
}

#right-nav .nav-tab {
	padding: 12px 0px 12px 20px;
}

.active-nav {
	background-image: url("img/nav/nav-all.png");
	background-position: 8px 6px;
	padding-bottom: 9px;
	border-bottom: 3px solid #1A73E8;
}

.nav-news {
	background-image: url("img/nav/nav-news.png");
	background-position: 8px 8px;
}

.nav-maps {
	background-image: url("img/nav/nav-maps.png");
	background-position: 8px 6px;
}

.nav-vids {
	background-image: url("img/nav/nav-videos.png");
	background-position: 8px 9px;
}

.nav-shop {
	background-image: url("img/nav/nav-shopping.png");
	background-position: 8px 6px;
}

.nav-more {
	background-image: url("img/nav/nav-more.png");
	background-position: 8px 6px;
	padding-left: 22px;
}

/* =======================RESULTS======================= */

a {
	color: #1a0dab;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p {
	margin: 0;
}

h2 {
	font-weight: normal;
	font-size: 20px;
	text-decoration: none;
	margin: 4px 0px;
}

h6 {
	color: rgb(32, 33, 36);
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	line-height: 20px;
}

h1 {

}

h6 span {
	color: rgb(95, 99, 104);
	padding-right: 19px;
	background: url("img/small-arrow-down.png") no-repeat right;
}

#results {
	color: rgb(77, 81, 86);
	font-size: 14px;
	line-height: 22px;
	width: 652px;
	margin-left: 180px;
}

#result-returns {
	color: rgb(112, 117, 122);
	font-size: 14px;
	line-height: 43px;
	margin-bottom: 6px;
}

.result {
	margin-bottom: 28px;
}

/* ------------VIDEO RESULTS------------ */

#videos {
	display: flex;
	margin-bottom: 40px;
}

.result-video {
	margin: 4px;
	border: 1px solid rgb(223, 225, 229);
	border-radius: 8px;
	height: 304px;
	width: 212px;
}

.result-video img {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	width: 212px;
	height: 120px;
}

h1 {
	color: rgb(34, 34, 34);
	font-size: 20px;
	line-height: 26px;
	margin: 0px;
	padding-bottom: 12px;
	font-weight: 400;
	width: 100%;
}

h3 {
	margin: 16px 22px 0px 16px;
	font-weight: 400;
	font-size: 16px;
}

.video-footer {
	margin: 0px 22px 16px 16px;
	position: absolute;
	bottom: 171px;
}

h4 {
	color: rgb(128, 128, 128);
	margin: 2px 0 0 0;
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
}

h5 {
	color: rgb(32, 33, 36);
	margin: 2px 0 0 0;
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
}

.date-span {
	color: rgb(128, 128, 128);
}

.nav-arrow-circle {
	background-color: white;
	border-radius: 50%;
	width: 36px;
	height: 36px;
	box-shadow: 0 0 0 1px rgba(0,0,0,0.04), 0 4px 8px 0 rgba(0,0,0,0.20);
	position: absolute;
	margin: 140px 0 0 646px;
	text-align: center;
}

.nav-arrow-circle img {
	margin-top: 8px;
}

/* ------------PEOPLE ALSO ASK------------ */

#people-also-ask {
	margin-bottom: 28px;
}

#people-also-ask ul {
	border: 1px solid rgb(223, 225, 229);
	padding: 0px;
	border-radius: 8px;
	margin-bottom: 0;
}

#people-also-ask li {
	color: rgb(34, 34, 34);
	display: flex;
	justify-content: space-between;
	list-style: none;
	height: 44px;
	width: 650px;
	border-top: 1px solid rgb(223, 225, 229);
}

#people-also-ask li img {
	width: 19px;
	height: 17px;
	margin: 14px 16px;
}

#people-also-ask h1 {
	padding: 0 0 0 16px;
	line-height: 44px;
}

#people-also-ask h3 {
	margin: 0;
	padding-left: 16px;
	line-height: 44px;
}

#people-also-ask a {
	color: rgb(112, 117, 122);
	font-size: 12px;
	left: 583px;
	position: relative;
}

/* ------------IMAGE RESULTS------------ */
#image-results {
	margin-bottom: 40px;
}

#keywords ul {
	padding: 0;
	margin: 18px 0 12px 0;
}

#keywords li {
	display: inline-block;
	list-style: none;
	height: 34px;
	line-height: 34px;
	font-size: 12px;
	color: rgb(60, 64, 67);
	border-radius: 17px;
	border: 1px solid rgb(218, 220, 224);
	padding: 0 11px;
	margin-right: 6px;
}

#keywords-arrow {
	position: absolute;
	height: 36px;
	width: 50px;
	padding-top: 8px;
	margin-left: 644px;
	box-shadow: -40px 0px 17px white;
}

#images-arrow {
	margin: 110px 0 0 634px;
}

#more-images {
	display: flex;
	align-items: center;
	font-size: 16px;
}

#more-images button {
	border: none;
	background-color: white;
	font-size: 13px;
	color: rgb(112, 117, 122);
	margin: 0 0 0 263px;
	padding: 0;
}

/* ------------RELATED SEARCH QUERIES------------ */
#related-searches ul {
	padding: 0;
}

#related-searches li {
	display: inline-block;
	list-style: none;
	height: 26px;
	width: 255px;
	font-size: 14px;
	font-weight: 700;
}

/* ------------SEARCH PAGE NAVIGATION------------ */
#result-pages {
	margin-top: 30px;
	margin-left: 167px;
	margin-bottom: 30px;
}

#result-pages ul {
	padding-left: 33px;
	width: 309px;
	margin: 0;
	position: relative;
	top: -7px;
}

#result-pages li {
	display: inline-block;
	list-style: none;
	margin: 0 4.1px;
}

#result-pages .next {
	padding-left: 44px;
}

#result-pages a {
	color: rgb(66, 133, 244);
	text-decoration: none;
}

#result-pages a:hover {
	text-decoration: underline;
}

/* =======================FOOTER======================= */

#footer-nav ul {
	margin: 0;
	padding: 0;
}

#footer-nav li {
	display: inline-block;
	padding-right: 25px; 
}