html {
	
}

body {
	color: #222;
	font-family: arial,sans-serif;
	font-size: 13px;
	margin: 0;
}

header {	
	margin-top: 6px;
}

footer {
	background-color: rgb(242, 242, 242);
	color: #5f6368;
	font-size: 14px;
	line-height: 40px;
	bottom: 0;
	width: 100%;
	padding-left: 180px;
}

footer div,
header div {
	display: inline-block;
}

a {
	color: #1a0dab;
	text-decoration: none;
}

button {
	background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 29px 4px 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
}

#grid {
	background-image: url("img/img_sheet.png");
	background-position: -125px -38px;
	width: 30px;
	height: 30px;
}

.left {
	float: left;
}

.right {
	float: right;
	padding: 0 21px;
	display: flex;
	align-items: center;
}

#top-left {
    height: 52px;
    display: flex;
    align-items: center;
    padding: 0 21px;
    opacity: 0.75;
}

#bottom-left {
	padding: 0 21px;
}

.top div {
	padding: 0 6px;
}

.bottom div {
	padding: 0 11px;
}

#main-content {
	padding-top: 192px;
	text-align: center;
}

#main-content input {
	border: 0;
	width: 387px;
	height: 34px;
	margin-bottom: 2px;
}

#results {
	width: 652px;
	margin-left: 180px;
}

#search-bar {
	display: flex;
    align-items: center;
    justify-content: center;
	border: 1px solid #dfe1e5;
	border-radius: 24px;
	height: 44px;
	width: 482px;
	margin: auto;
	margin-top: 24px;
}

#covid-message {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}